@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #504f4f;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #504f4f;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

i {
  font-size: 2.4rem;
}

.container {
  max-width: 116rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sm-screen-hidden {
  display: none !important;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.section {
  padding-block: 8rem;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: inherit;
}

.logo {
  font-size: 2.4rem;
  font-weight: 700;
  color: #00d5ff;
}

.menu-toggle-icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #00d5ff;
  cursor: pointer;
  border-radius: 20%;
  padding: 1.5rem;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  color: #fff;
}

.menu-close-icon {
  display: none;
  color: #fff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.list-link {
  position: relative;
}

.list-link::after,
.list-link.current::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: #00d5ff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.list-link.current::after {
  opacity: 1 !important;
}

.list-link:hover::after {
  opacity: 1;
}

.nav-mobile {
  background-color: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.nav.active .nav-mobile {
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.nav.active .menu-open-icon {
  display: none;
}

.nav.active .menu-close-icon {
  display: block;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header.active::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header.active-scroll {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.showcase {
  margin-top: 8rem;
}

.showcase-container,
.plan-trip-container,
.popular-destinations-container {
  gap: 4rem;
}

.image-group {
  -ms-grid-columns: 2rem (1fr)[2] 2rem (1fr)[2];
      grid-template-columns: 2rem repeat(2, 1fr) 2rem repeat(2, 1fr);
}

.image-box {
  /* change min-height */
  min-height: 25rem;
  -webkit-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.showcase .image-box {
  min-height: 25rem;
}

.image-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.image-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / span 10;
  z-index: 5;
}

.image-center {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 9;
  -ms-grid-row-span: 10;
  grid-row: 9 / span 10;
}

.image-right {
  grid-column: 5/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 10;
  grid-row: 3 / span 10;
  z-index: 5;
}

.tagline {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #00c3f9;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.main-title {
  font-size: 3.6rem;
}

.accent-text {
  color: #00d5ff;
}

.description {
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  background-color: #00d5ff;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.btn:hover {
  background-color: #00c3f9;
  color: #fff;
}

.secondary-grid {
  gap: 4rem;
}

.beach-data-wrapper {
  position: relative;
}

.beach-data-wrapper.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.beach-data {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.beach-data-inner {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}

.secondary-btn {
  border-radius: 0 0 10px 0;
}

.beach-name {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.beach-location,
.beach-location.accent-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.btn.place-items-center {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.location-icon {
  cursor: pointer;
  color: #01bd62;
}

.newsletter {
  background: url(travel_images/newsletter.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.newsletter::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.newsletter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter-container-inner {
  max-width: 78rem;
  text-align: center;
  color: #fff;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.btn-light {
  background-color: #fff;
  color: #504f4f;
}

.btn-light:hover {
  color: #fff;
}

.footer {
  background-color: #fff;
  padding-bottom: 4rem;
}

.footer .list-link {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.footer .list-link:hover {
  color: #00d5ff;
}

.footer .list-link::after {
  display: none;
}

.footer .title {
  font-size: 1.6rem;
}

.footer-container-inner {
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.contact-information address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.contact-information .list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.5rem;
}

@media screen and (min-width: 400px) {
  .btn-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .showcase-container,
  .popular-destinations-container,
  .plan-trip-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .showcase-container .order-1,
  .popular-destinations-container .order-1,
  .plan-trip-container .order-1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .showcase-container .order-2,
  .popular-destinations-container .order-2,
  .plan-trip-container .order-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .image-box {
    min-height: 35rem;
  }
  .beach-data-inner {
    padding: 1.5rem;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    opacity: 80%;
  }
  .beach-data-inner:hover {
    opacity: 100%;
  }
  .secondary-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
  }
  .image-box-right {
    grid-column: 1/-1;
  }
  .image-box-right .beach-data-inner {
    width: 50%;
    border-radius: 0 10px;
  }
  .image-box-right .secondary-btn {
    border-radius: 5px 0 10px;
  }
}

@media screen and (min-width: 1000px) {
  .nav-mobile {
    background-color: transparent;
    position: initial;
    width: initial;
    padding: initial;
    z-index: initial;
    -webkit-transform: initial;
            transform: initial;
    -webkit-transition: initial;
    transition: initial;
  }
  .nav-mobile .list .list-link {
    padding: 1rem 2rem;
  }
  .nav-mobile .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .list-link::after,
  .list-link.current::after {
    top: initial;
    right: initial;
    left: 50%;
    bottom: -1rem;
  }
  .sm-screen-hidden {
    display: block !important;
  }
  .lg-screen-hidden {
    display: none;
  }
  .nav.active .nav-mobile {
    -webkit-transform: initial;
            transform: initial;
  }
  .header::before {
    display: none;
  }
  .showcase-container,
  .popular-destinations-container,
  .plan-trip-container {
    gap: 10rem;
  }
  .showcase .image-box {
    min-height: 35rem;
  }
  .secondary-grid {
    -ms-grid-columns: 2fr (1fr)[6];
        grid-template-columns: 2fr repeat(6, 1fr);
    gap: 1.5rem;
  }
  .image-box-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .image-box-center {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .image-box-right {
    grid-column: 6 / -1;
  }
  .image-box-right .beach-data-inner {
    width: 100%;
    border-radius: 0 0 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */