@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Custom Properties

$light-clr: #fff;
$dark-clr: #504f4f;
$accent-clr: #00d5ff;

$font-size-xsm: 1.2rem;
$font-size-sm: 1.6rem;
$font-size-md: 2.4rem;
$font-size-lg: 3.6rem;

$font-family: "Poppins", sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$margin-sm: 1rem;
$margin-md: 2rem;
$margin-lg: 3rem;

$section-spacing: 8rem;

$gap-sm: 1.5rem;
$gap-md: 2rem;
$gap-lg: 4rem;

// =============================================================

html {
  // 10px
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: $font-size-sm;
  color: $dark-clr;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $dark-clr;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

i {
  font-size: $font-size-md;
}

// ============================================================
// Re-usable classes
.container {
  max-width: 116rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-screen-hidden {
  display: none !important;
}

.d-grid {
  display: grid;
}

.section {
  padding-block: $section-spacing;
}

// ===========================================================
// HeaDER
.header {
  background-color: $light-clr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
}

.logo {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  color: $accent-clr;
}

.menu-toggle-icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: $accent-clr;
  cursor: pointer;
  border-radius: 20%;
  padding: 1.5rem;
  transition: color 0.25s;
  color: $light-clr;
}

.menu-close-icon {
  display: none;
  color: $light-clr;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $margin-sm;
}

.list-link {
  position: relative;
}

.list-link::after,
.list-link.current::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: $accent-clr;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.25s;
}

.list-link.current::after {
  opacity: 1 !important;
}

.list-link:hover::after {
  opacity: 1;
}

.nav-mobile {
  background-color: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  //   transform: translateY(8rem);  with JS
  transform: translateY(-100%);
  z-index: -1;
  transition: transform 0.25s;
}

// ====================================================
// Nav JS styles
.nav.active .nav-mobile {
  transform: translateY(8rem);
}

.nav.active .menu-open-icon {
  display: none;
}

.nav.active .menu-close-icon {
  display: block;
}

// Dark layout after mobile menu drops
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  transition: opacity 0.5s;
  opacity: 0;
  transform: scale(0);
}

.header.active::before {
  opacity: 1;
  transform: scale(1);
}

.header.active-scroll {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
// ================================================
// Showcase
.showcase {
  margin-top: 8rem;
}

.showcase-container,
.plan-trip-container,
.popular-destinations-container {
  gap: $gap-lg;
}

.image-group {
  grid-template-columns: 2rem repeat(2, 1fr) 2rem repeat(2, 1fr);
}

.image-box {
  /* change min-height */
  min-height: 25rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.showcase .image-box {
  min-height: 25rem;
}

.image-box img {
  height: 100%;
  // width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.image-box img:hover {
  transform: scale(1.1);
}

.image-left {
  grid-column: 1/4;
  grid-row: 1 / span 10;
  z-index: 5;
}

.image-center {
  grid-column: 3/6;
  grid-row: 9 / span 10;
}

.image-right {
  grid-column: 5/-1;
  grid-row: 3 / span 10;
  z-index: 5;
}

.tagline {
  display: inline-block;
  margin-bottom: $margin-sm;
  font-size: $font-size-xsm;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $accent-clr;
}

.title {
  font-size: $font-size-md;
  margin-bottom: $margin-md;
}

.main-title {
  font-size: $font-size-lg;
}

.accent-text {
  color: $accent-clr;
}

.description {
  margin-bottom: $margin-lg;
}

.btn {
  display: inline-block;
  background-color: $accent-clr;
  color: $light-clr;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  transition: background-color 0.25s;
}

.btn:hover {
  background-color: #00c3f9;
  color: #fff;
}

// =========================================================
// Popular-Destination Section
.secondary-grid {
  gap: $gap-lg;
}

.beach-data-wrapper {
  position: relative;
}

.beach-data-wrapper.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.beach-data {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.beach-data-inner {
  width: 100%;
  background-color: $light-clr;
  padding: 1rem;
}

.secondary-btn {
  border-radius: 0 0 10px 0;
}

.beach-name {
  font-size: $font-size-sm;
  margin-bottom: $margin-sm;
}

.beach-location,
.beach-location.accent-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: $font-size-xsm;
}

.btn.place-items-center {
  display: inline-flex;
}

.location-icon {
  cursor: pointer;
}
// ======================================
// Newsletter Section
.newsletter {
  background: url(travel_images/newsletter.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.newsletter::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: -1;
}

.newsletter-container {
  display: flex;
  justify-content: center;
}

.newsletter-container-inner {
  max-width: 78rem;
  text-align: center;
  color: $light-clr;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap-md;
}

.btn-light {
  background-color: $light-clr;
  color: $dark-clr;

  &:hover {
    color: $light-clr;
  }
}
// ==================================================
// Footer Section
.footer {
  background-color: $light-clr;
  padding-bottom: 4rem;

  & .list-link {
    transition: color 0.25s;

    &:hover {
      color: $accent-clr;
    }

    &::after {
      display: none;
    }
  }
}

.footer .title {
  font-size: $font-size-sm;
}

.footer-container-inner {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: $gap-md;
}

.contact-information address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-information .list {
  flex-direction: row;
  margin-top: 1.5rem;
}
//  =========================================================
// Media Queries
@media screen and (min-width: 400px) {
  .btn-group {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .showcase-container,
  .popular-destinations-container,
  .plan-trip-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .order-1 {
      order: 0;
    }

    .order-2 {
      order: 1;
    }
  }

  .image-box {
    min-height: 35rem;
  }

  .beach-data-inner {
    padding: 1.5rem;
    transition: opacity 0.25s;
    opacity: 80%;

    &:hover {
      opacity: 100%;
    }
  }

  .secondary-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
  }

  .image-box-right {
    grid-column: 1/-1;
  }

  .image-box-right .beach-data-inner {
    width: 50%;
    border-radius: 0 10px;
  }
  .image-box-right .secondary-btn {
    border-radius: 5px 0 10px;
  }
}

@media screen and (min-width: 1000px) {
  .nav-mobile {
    background-color: transparent;
    position: initial;
    width: initial;
    padding: initial;
    z-index: initial;
    transform: initial;
    transition: initial;

    .list .list-link {
      padding: 1rem 2rem;
    }
  }

  .nav-mobile .list {
    flex-direction: row;
  }

  .list-link::after,
  .list-link.current::after {
    top: initial;
    right: initial;
    left: 50%;
    bottom: -1rem;
  }

  .sm-screen-hidden {
    display: block !important;
  }

  .lg-screen-hidden {
    display: none;
  }

  .nav.active .nav-mobile {
    transform: initial;
  }

  .header::before {
    display: none;
  }

  .showcase-container,
  .popular-destinations-container,
  .plan-trip-container {
    gap: 10rem;
  }

  .showcase .image-box {
    min-height: 35rem;
  }

  .secondary-grid {
    grid-template-columns: 2fr repeat(6, 1fr);
    gap: 1.5rem;
  }

  .image-box-left {
    grid-column: 1 / 2;
  }

  .image-box-center {
    grid-column: 2 / 6;
  }

  .image-box-right {
    grid-column: 6 / -1;

    .beach-data-inner {
      width: 100%;
      border-radius: 0 0 0 10px;
    }
  }
}
